body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1,
h2 {
    color: white;
    font-weight: normal;
    font-size: 3.125rem;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

h5,
footer {
    font-size: 1.3125rem;
    color: gray;
}

a {
    color: aquamarine;
}

#phone-icon {
    display: block;
    margin: 2rem auto;
}

footer {
    text-align: right;
}